<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--调用u8api接口地址-->
    <add name="U8SVApiUrl" connectionString="http://localhost/U8SV/" />
    <add name="U8Conn" connectionString="Data Source=localhost;Initial Catalog=NCU8DB;uid=sa;pwd=123456;" />
    <add name="U8DataConn" connectionString="Data Source=localhost;Initial Catalog=UFDATA_101_2019;uid=sa;pwd=123456;" />
    <add name="AppsDBCoon" connectionString="Data Source=localhost;Initial Catalog=AppsDB_Spl;uid=sa;pwd=123456;" />
    <!--<add name="U8Conn" connectionString="Data Source=U8SERVER;Initial Catalog=UFDATA_995_2019;uid=sa;pwd=china22..;" />-->
    <add name="NCConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.20.22)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORA11G)));Persist Security Info=True;User ID=mh201706;Password=20170616;" />
    <add name="NCSubjectEncoding" connectionString="'50010301','50010302','50010303','510101','510103','510104','510105','51010601','51010602','51010603','51010604','510108','510110','51011101','51011102','51011103','51011104','51011105','51011106','510115','510118','510124'" />
    <add name="U8KmdzCode" connectionString="'14030101','14030102','14030103','14030104','14030106','14030109','140501','140502','1406','220201'" />
    <add name="NCKmdzCode" connectionString="'14030101','14030102','14030103','14030104','14030106','14030109','140501','140502','1406','22020102'" />
  </connectionStrings>
</configuration>



